@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;500;600;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Fraunces', Arial, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

#root, .app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button {
  border-radius: 50px;
  font-family: 'Fraunces', Arial, sans-serif; /* Apply Fraunces font to all buttons */
}

.tooltip {
  background-color: gray;
}


