.navbar {
    background-color: transparent; /* Transparent background */
  }
  
  .toolbar {
    display: flex;
    justify-content: space-between;
  }
  
  .navbarNav {
    display: flex;
    align-items: center;
  }
  
  .navButton {
    color: #000;
    text-transform: capitalize;
    font-weight: bold;
  }
  
  .navButton:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Light background on hover */
  }
  